{% extends 'base.html' %}

{% block content %}
    <div style="background: url('../img/hero.jpg')  repeat center top;padding:5%;display: flex;flex-direction: column;align-items: center;">
        <strong>MY PAGE</strong><br>
        <strong>ID : {{ user.username }}</strong><br>
        <strong>Name : {{ user.name }}</strong><br>
        <strong>Email : {{ user.email }}</strong><br>

        <a href="{% url 'user:update' user.username %}">
            <button class="btn btn-success"><strong>UPDATE INFO</strong></button>
        </a>

        <a href="{% url 'user:delete' user.username %}">
            <button class="btn btn-success"><strong>WITHDRAWL</strong></button>
        </a>
        <strong> 최근 작성글</strong>
    </div>
{% endblock %}