{% extends 'base.html' %}

{% block content %}

<div style="background: url('../img/hero.jpg')  repeat center top;padding:5%;display: flex;flex-direction: column;align-items: center;">

<h2> Update</h2>

<form id='update_form' method='post'>{% csrf_token %}
    {% for field in update_form %}
        <p>
            {{field.label_tag}}

            {{field}}

            {% comment %} {% if field.help_text %}
                <small style="color:grey;">{{field.help_text}}</small>
            {% endif %} {% endcomment %}

            {% for error in field.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}

            {% if update_form.non_field.errors%}
                <div style="color:red">
                    <p>{{update_form.non_field.errors}}</p>
                </div>
            {% endif %}
    {% endfor %}
    {{pwupdate_form}}
</form>   
<script>
    submitform = function(){
    document.getElementById("update_form").submit();
    document.getElementById("pwupdate_form").submit();
    }
</script>
<button onclick="submitform()">Update</button> 
</div>
{% endblock %}